{% extends 'template.html.twig' %}
{% block pageTitle %}
    Etudiants
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
{% endblock %}
{% block title %}
liste des etudiants
{% endblock %}
{% block body %}
    <a href="{{ path('etudiant.edit') }}">Ajouter un étudiant:</a>
    <table class="table" id="table-etudiant">
        <tr class="table-active">
            <th>Firstname</th>
            <th>Name</th>
            <th>Section</th>
            <th>Action</th>
        </tr>
        {% for etudiant in etudiants %}
            <tr onclick="highlight()" class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
                <td>{{ etudiant.firstname | capitalize }}</td>
                <td>{{ etudiant.name | capitalize }}</td>
                <td>{% if etudiant.setion %}{{ etudiant.setion.designation }}{% else %} pas encore{% endif %}</td>
                <td>
                    <a href="{{ path('etudiant.edit',{id : etudiant.id}) }}">edit</a>
                    <a href="{{ path('etudiant.delete',{id : etudiant.id}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"> </script>
{% endblock %}